.title{
    font-family: 'Merriweather', sans-serif ;
}

.title h2{

    margin-top: 130px ;
    font-size: 90px ;
    color: #707070;
}

.heroblue{
    background-color: #CEFBFF;
    padding-bottom: 119px;
}